@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #fba414,
    ),
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

.el-message {
  border-radius: 15px !important;
  backdrop-filter: blur(4px);
  background: color-mix(
    in srgb,
    var(--el-bg-color-overlay) 75%,
    transparent
  ) !important;
}

.el-loading-mask {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.el-overlay {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.el-card {
  border-radius: 15px !important;
  margin: 15px;
}

.el-input__wrapper {
  border-radius: 15px;
}

.el-input-group__append {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.el-input-number__decrease {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  margin-top: 5.5px;
}

.el-input-number__increase {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  margin-top: 5.5px;
}

.el-button {
  border-radius: 15px !important;
}

.el-message-box {
  border-radius: 15px !important;
  backdrop-filter: blur(4px);
  background: color-mix(
    in srgb,
    var(--el-bg-color) 75%,
    transparent
  ) !important;
}

.el-dialog {
  border-radius: 15px !important;
  backdrop-filter: blur(4px);
  background: color-mix(
    in srgb,
    var(--el-drawer-bg-color) 75%,
    transparent
  ) !important;
}

.el-select__wrapper {
  border-radius: 15px !important;
}

.el-scrollbar__view {
  border-radius: 15px !important;
}

.el-popper.is-pure {
  border-radius: 15px !important;
}

.el-dropdown-menu__item {
  border-radius: 15px !important;
}

.el-dropdown-menu {
  border-radius: 15px !important;
  min-width: 150px;
  background: transparent !important;
}

.el-popper__arrow {
  display: none;
}

.el-select-dropdown__item {
  border-radius: 15px !important;
}

.el-page-header__left .el-divider {
  --el-border-style: none !important;
}

.el-page-header__title {
  display: none;
}

.el-dropdown {
  outline: none;
}

.el-popper {
  border-radius: 15px !important;
  backdrop-filter: blur(4px);
  background: color-mix(
    in srgb,
    var(--el-bg-color-overlay) 75%,
    transparent
  ) !important;
}

.el-card {
  backdrop-filter: blur(4px);
  background: color-mix(
    in srgb,
    var(--el-card-bg-color) 75%,
    transparent
  ) !important;
  border-radius: 15px;
}

.el-notification {
  backdrop-filter: blur(4px);
  background: color-mix(
    in srgb,
    var(--el-bg-color-overlay) 75%,
    transparent
  ) !important;
  border-radius: 15px;
}

.el-drawer {
  background: color-mix(
    in srgb,
    var(--el-drawer-bg-color) 75%,
    transparent
  ) !important;
}
